$primary-color: #7ed56f;
$secondary-color: #55c57a;
$third-color: #28b485;
$dark-color: #777;
$light-color: #f4f4f4;
$max-width: 114rem;


$light-orange-color: #ffb900;
$dark-orange-color: #ff7730;
$light-blue-color: #2998ff;
$dark-blue-color: #5643fa;