@media (max-width: 600px){  //phone
    html{
        font-size: 50%;
    }
    
    body{
        padding: 0;
    }
}


@media (min-width: 601px) and (max-width: 900px){ //portrait tablet
    html{
        font-size: 50%;
    }

    body{
        padding: 0;
    }
}

@media (min-width: 901px) and (max-width: 1200px){  //landscape tablet
    html{
        font-size: 56.25%;
    }
    
}


@media (min-width: 1201px) and (min-width: 1800px){  // wide screen

    html{
        font-size: 75%;
    }
    
}




// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { ... }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }